body {
  text-align: center;
  background-color: rgba(61, 61, 61, 0.81);
}
.header {
  display: flex;
color: white;
  align-items: center;
}
.title {
  width: 60%;
  text-align: center;
}
.logo {
  width: 20%;
}
.createEmployee {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: white;
  background-color: rgb(46, 45, 45);
  border-radius: 5%;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}
.fieldInput {
  height: 20px;
  width: 400px;
  border-radius: 5px;
  color: white;
  background-color: rgb(90, 90, 90);
}
.fieldInput:focus {
  outline: none;
  border: 1px solid green;
}
.red {
  color: red;
}
.CTA {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 20%;
  margin: 5px;
}
.footer {
  display: flex;
  justify-content: space-around;
}
.footer > .logo {
  width: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
