body {
  text-align: center;
  background-color: #BFB7B6;
  margin: auto;
}

.header {
  margin: 20px auto;
  display: flex;
  color: white;
  height: 100px;
  max-width: 60%;
  align-items: center;
  justify-content: space-between;
}
.logo,
.navigation {
  width: 20%;
}

.title {
  width: 60%;
  color: #0c120c;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.neumorphism {
  margin: 20px;
  height: 48px;
  width: 98px;
  color: #586912;
  font-weight: bold;
  border-radius: 15px;
  background: #f1f2ee;
  box-shadow: 7px 7px 20px #cdceca, -7px -7px 20px #ffffff;
  border: none;
  cursor: pointer;
}
.neumorphism:active {
  background: #f1f2ee;
  box-shadow: inset 7px 7px 20px #cdceca, inset -7px -7px 20px #ffffff;
}
.neumorphismLight {
  margin: 20px;
  height: 78px;
  width: 88px;
  color: #586912;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
  background: #f1f2ee;
  box-shadow: 7px 7px 20px #a29c9b, -7px -7px 20px #dcd2d1;
  border: 1px solid #586912;
  
  cursor: pointer;
}
.neumorphismLight:active {
  background: #f1f2ee;
  box-shadow: inset 7px 7px 20px #cdceca, inset -7px -7px 20px #ffffff;
}
.createEmployee {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: #0c120c;
  background: #f1f2ee;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(241, 242, 238, 0.12);
}
.field {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}
.field > input,
.field > select {
  height: 20px;
  border-radius: 5px;
  color: #0c120c;
  background-color: #ecebf3;
}
.datePicker {
  width: 200px;
  margin: auto;
  text-align: center;
}

.field > select {
  width: 200px;
  margin: auto;
  text-align: center;
}
.fieldInput {
  width: 400px;
}
.fieldInput:focus,
.datePicker:focus,
.field > select:focus {
  outline: none;
  border: 1px solid #6e860e;
}
.red {
  color: red;
}
.arrowTable {
  display: flex;
  flex-direction: column;
}
.pagination > button {
  width: 48px;
  height: 48px;
}
.footer {
  display: flex;
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
