@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../public/assets/font/MonserratFont/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}
body {
  margin: 0;
}
* {
  font-family: "Montserrat";
}